node_modules
client/node_modules
client/src/firebase.js
backend/node_modules
backend/config.env
client/.firebase
client/build
client/.firebaserc
.firebase
.firebaserc
build
Images
flask_backend
flask_backend/.